@import "src/styles/colors";


.bgTransparent {
  background: transparent;
}


.bgPrimary {
  background-color: map-get($colors, "primary");
}


.bgSecondary {
  background-color: map-get($colors, "secondary");
}


.bgWhite {
  background-color: map-get($colors, "white");
}


.bgDark {
  background-color: map-get($colors, "dark");
}


.bgLightGray {
  background-color: map-get($colors, "gray10");
}


.bgSuccess {
  background-color: map-get($colors, "success");
}


.bgDanger {
  background-color: map-get($colors, "red");
}


.bgWarning {
  background-color: map-get($colors, "warning");
}

.bgGray {
  background-color: map-get($colors, "gray");
}
