@import "variable";
@import "colors";

.texRegular {
  font-family: map-get($map: $font-families, $key: regular);
  font-size: 15px;
  color: map-get($colors, "text-primary");
}

.textSmall {
  font-family: map-get($map: $font-families, $key: regular);
  font-size: 13px;
  color: map-get($colors, "text-primary");
}

.textTiny {
  font-family: map-get($map: $font-families, $key: regular);
  font-size: 11px;
  color: map-get($colors, "text-primary");
}

.textItem {
  font-family: map-get($map: $font-families, $key: regular);
  font-size: 13px;
  font-weight: 500;
}

.textDetail {
  font-family: map-get($font-families, "light");
  font-size: 15px;
  font-weight: normal;
}

.textInput {
  padding: 0;
}

.textBlueColor {
  color: map-get($colors, "primary");
}

.textWarning {
  color: map-get($colors, "yellow");
}

.textError{
  color: map-get($colors, "red");
}

.textGray{
  color: map-get($colors, "gray75");
}

.textNeutral{
  color: map-get($colors, "neutral");
}

.textSpaceCadet {
  color: map-get($colors, "space-cadet");
}
