$font-families: (
    bold: IBMPlexSans-Bold,
    extralight: IBMPlexSans-ExtraLight,
    italic: IBMPlexSans-Italic,
    light: IBMPlexSans-Light,
    medium: IBMPlexSans-Medium,
    regular: IBMPlexSans-Regular,
    semibold: IBMPlexSans-SemiBold,
    thin: IBMPlexSans-Thin,
);

$border-radius: 4px;

$padding: 4px;

$font-default: 12px;

$spacing: 16px;
