/**
 * ForgotPasswordScreen
 * 2022-07-03 18:00:03
 */
@import "src/styles/mixins";

.bodyView {
  margin-top: 30px;
}

.textForgetPass {
  color: map-get($colors, 'dark-blue');
}

.buttonForget {
  width: 40%;
  align-self: flex-end;
}
