/**
 * LoginLayout
 * 2022-07-03 21:08:29
 */
@import "src/styles/mixins";

.headerContainer {
  height: 25%;
}

.footerContainer {
  height: 15%;
}
.styleColorScroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.body {
  flex: 1;
}

.borderR30 {
  border-radius: 30px;
}

.inputContainer {
  z-index: 10;
}

.bottom {
  position: absolute;
  bottom: 0;
  height: 200px;
  z-index: -1;
  left: 0;
  right: 0;
}

.titleHeader {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  line-height: 41px;
  color: map-get($colors, 'dark-blue');
}

.subTitle {

}

.right {
  height: 40px;
  margin-left: -24px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.underIcon {
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
